{% extends 'base.html' %}
    {% block blockname %}

{% comment %} {% include "header.html" %} {% endcomment %}

    

    
<!-- About Section -->
{{output}}
    <section id="about" class="section">

        <h2>
            About Our University
        </h2>

        <p class="about-text">

        Bright Future University is a modern institution dedicated to
        students to achieve their goals. Our university offers a
        providing quality education and creating opportunities for
        supportive and inspiring learning environment where students
        can develop both technical and professional skills.

        With experienced faculty, modern classrooms, well-equipped
        laboratories, a rich library, sports facilities, and a vibrant
        campus life, we encourage students to explore their interests
        and discover their potential.

        Our goal is to prepare students with the knowledge, confidence,
        and skills they need to build a successful career and contribute
        positively to society.

        </p>

    </section>

    {% endblock %}

{% comment %} {% include "footer.html" %} {% endcomment %}