{% load static %}
<!-- Footer -->
<footer class="footer">

    <div class="footer-container">

        <!-- About Us -->
        <div class="footer-section">
            <h3>About Us</h3>

            <p>
                Bright Future University is committed to providing
                quality education and creating a better future for
                students.
            </p>
        </div>


        <!-- Newsletter -->
        <div class="footer-section newsletter">

            <h3>Newsletter</h3>

            <p>
                Stay update with our latest
            </p>

            <div class="email-box">

                <input
                    type="email"
                    placeholder="Enter Email"
                >

                <button>
                    ➤
                </button>

            </div>

        </div>


        <!-- Follow Us -->
        <div class="footer-section follow">

            <h3>Follow Us</h3>

            <p>
                Let us be social
            </p>

            <div class="social-icons">

                <a href="#">f</a>
                <a href="#">𝕏</a>
                <a href="#">in</a>
                <a href="#">◎</a>

            </div>

        </div>

    </div>


    <!-- Copyright -->
    <div class="copyright">

        © 2026 Bright Future University.
        All Rights Reserved.

    </div>

</footer>


    <!-- Connect JavaScript file -->
    <script src="{% static 'script.js' %}"></script>

</body>

</html>