{% extends 'base.html' %}
{% load static %}

{% block blockname %}
<marquee onmouseover="stop()" onmouseout="start()">
    
    {% for news in newsData %}
        <a href="/newsdetails/{{news.news_slug}}"> {{news.news_title}}</a> &nbsp;
    {% endfor %}
        
</marquee>
        

<section class="hero-slider">

    <div class="slides">

        <!-- SLIDE 1 -->
        <div class="slide">
            <img src="{% static 'images/university.png' %}" alt="University">
            <div class="slide-content">
                <h1>Bright Future University</h1>
                <p>Quality Education for a Brighter Tomorrow</p>

                <a href="#about" class="btn">
                    Discover More
                </a>

                <a href="#courses" class="btn">
                    View Courses
                </a>
            </div>
        </div>

        <!-- SLIDE 2 -->
        <div class="slide">
            <img src="{% static 'images/university2.png' %}" alt="Students">

            <div class="slide-content">
                <h1>Learn With Excellence</h1>
                <p>Build Your Skills and Knowledge</p>
                <a href="#courses" class="btn">Explore Courses</a>
                <a href="#about" class="btn second-btn">Learn More</a>
            </div>
        </div>

        <!-- SLIDE 3 -->
        <div class="slide">
            <img src="{% static 'images/university3.png' %}" alt="Students">

            <div class="slide-content slide3-buttons">
                <a href="#courses" class="btn">Explore Courses</a>
                <a href="tel:+919876543210" class="btn call-btn">📞 Call Now</a>
            </div>
        </div>

    </div>

    <button class="prev" id="prevBtn">❮</button>
    <button class="next" id="nextBtn">❯</button>

    <div class="dots">
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

</section>


<!-- FEATURES : ONLY FIRST SLIDE -->

<section class="features-section" id="features">

    <div class="features-heading">
        <h2>Some Features that Made us Unique</h2>
        <p>Who are in extremely love with eco friendly system.</p>
    </div>
        <form method="get">
            <input type="text" name="servicename" value="" />
            <input type="submit" value="search">
        </form>

    <div class="features-container">
        
        {% for n in servicesData  %}
            
        <div class="feature-card">
            <h3>{{n.service_icon}} {{n.service_title}}</h3>

            <p>{{n.service_des | capfirst | safe}}<p>
        </div>
        {% empty %}
        No data found
        {% endfor %}
    </div>
    <nav aria-label="...">
        <ul class="pagination">
            {% if servicesData.has_previous %}
            <li class="page-item">
                <a class="page-link" href="/?page=1" tabindex="-1">First</a>
            </li>

            <li class="page-item">
                <a class="page-link" href="/?page={{servicesData.previous_page_number}}" tabindex="-1">Previous</a>
            </li>
            {% endif %}

            {% for n in totalPagelist%}

            <li class="page-item"><a class="page-link" href="/?page={{n}}">{{n}}</a></li>
            {% endfor %}

            {% if servicesData.has_next %}
            <li class="page-item">
                <a class="page-link" href="/?page={{lastpage}}">Last</a>
            </li>

            <li class="page-item">
                <a class="page-link" href="/?page={{servicesData.next_page_number}}">Next</a>
            </li>
            {% endif %}

        </ul>
    </nav>
</section>

{% endblock %}